<nav class="navbar navbar-expand-lg navbar-light bg-primary nav">
  <a class="navbar-brand nav-title font-weight-bold" href="/polls">U | FREE?</a>

  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler "
    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"> </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto center">
      <li class="nav-item active"></li>
      <li class="nav-item">
        <a class="nav-link" href="/polls/add" i18n>Create Poll</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/polls" i18n>My Polls ¡CHANGE ACTIVE!</a>
      </li>
      <li class="nav-item"></li>
    </ul>

    <app-language></app-language>

    <div class="btn-group" role="group">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary btn-sm dropdown-toggle"
        data-toggle="dropdown" id="btnGroupDrop1" type="button">
        {{currentUser.name}}
      </button>
      <div aria-labelledby="btnGroupDrop1" class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" [routerLink]="['/user/edit']" routerLinkActive="router-link-active"
          i18n>Profile</button>
        <button (click)="logout()" class="dropdown-item" i18n>Logout</button>
      </div>
    </div>
  </div>
</nav>
