<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron jumbotron-fluid rounded">
      <div class="container">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h1 class="display-4" i18n>
            Log you in!
          </h1>
          <p class="lead" i18n>
            We just need two things
          </p>
          <hr class="my-4">

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="material-icons">
                    mail_outline
                  </i>
                </div>
              </div>
              <!-- Input username -->
              <input class="form-control" type="text" #username placeholder="Username" formControlName="username"
                autocomplete="username">
            </div>
            <small class="error" *ngIf="loginForm.controls.username.errors && (loginForm.controls.username.touched || loginForm.controls.username.dirty)">
              This field is required.
            </small>

            <div class="input-group passwd">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="material-icons">
                    lock
                  </i>
                </div>
              </div>
              <!-- Input password -->
              <input class="form-control" type="password" #password placeholder="Password" formControlName="password"
                autocomplete="current-password">
            </div>
            <small class="error" *ngIf="loginForm.controls.password.errors && (loginForm.controls.password.touched || loginForm.controls.password.dirty)">
              This field is required.
            </small>
          </div>

          <small id="help" class="form-text text-muted text-center" i18n>
            - Fields are mandatory -
          </small>
          <small id="help" class="form-text font-weight-light text-center">
            <a [routerLink]="['/registration']" routerLinkActive="router-link-active">
              Sign up
            </a>
          </small>

          <div class="form-group row submit-button text-center">
            <div class="col-sm-12">
              <!-- Login button -->
              <button class="btn btn-outline-secondary" type="submit" id="login-button" [disabled]="!loginForm.valid"
                title="All fields must be filled for login">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
