<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron jumbotron-fluid rounded">
      <div class="container">
        <form class="form">
          <h1 class="display-4" i18n>
            Log you in!
          </h1>
          <p class="lead" i18n>
            We just need two things
          </p>
          <hr class="my-4">


          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="material-icons">
                    mail_outline
                  </i>
                </div>
              </div>
              <!-- Input username -->
              <input class="form-control" type="text" #username name="username" placeholder="Username">
              <!-- <?= $this->Form->control('username',["class"=>"form-control","placeholder"=>__("Username"),"label"=>false]) ?> -->
            </div>

            <div class="input-group passwd">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="material-icons">
                    lock
                  </i>
                </div>
              </div>
              <!-- Input password -->
              <input class="form-control" type="password" #password name="password" placeholder="Password">
              <!-- <?= $this->Form->control('password',["class"=>"form-control","placeholder"=>__("Password"),"label"=>false]) ?> -->
            </div>
          </div>


          <small id="help" class="form-text text-muted text-center" i18n>
            - Fields are mandatory -
          </small>
          <!-- <small id="help" class="form-text font-weight-light"><a href="#">Olvidé mi contraseña</a></small> -->
          <small id="help" class="form-text font-weight-light text-center">
            <a href="registration">
              <!-- Sign up button -->
              Sign up
              <!-- <?= $this->Html->link(__("Sign up"), array('controller' => 'Users','action'=> 'add'))?> -->
            </a>
          </small>

          <div class="form-group row submit-button text-center">
            <div class="col-sm-12">
              <!-- Login button -->
              <button class="btn btn-outline-secondary" type="submit" (click)="logIn(username.value, password.value, $event)"
                id="login-button">Login</button>
              <!-- <button class="btn btn-outline-secondary">Login</button> -->
              <!-- <?= $this->Form->button(__('Login'),["class"=>"btn btn-outline-secondary"]); ?> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
