<form class="form" [formGroup]="gapsAddForm" (ngSubmit)="onSubmit()">
  <div class="jumbotron jumbotron-fluid rounded">
    <div class="container">
      <h1 class="display-4">
        Create poll
      </h1>

      <p class="lead">
        Now, tell us the possible dates
      </p>

      <div class="table-responsive">
        <table class="table text-center" id="gapsTable">
          <thead>
            <tr>
              <th scope="col">Start date & time</th>
              <th scope="col"> </th>
              <th scope="col">End date & time</th>
              <th scope="col"> </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let gap of gaps">
              <td>
                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" min="{{today}}" placeholder="Start Time" class="form-control floating-label text-center date"
                  formControlName="start{{gap.gap_id}}" [selectMode]="'rangeFrom'" [(ngModel)]="gap.dates" required>
                <owl-date-time #dt1 firstDayOfWeek="1" pickerMode="dialog"></owl-date-time>
              </td>

              <td>
                <i class="material-icons">
                  arrow_forward
                </i>
              </td>

              <td>
                <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" min="{{today}}" placeholder="End Time" class="form-control floating-label text-center date"
                  formControlName="end{{gap.gap_id}}" [selectMode]="'rangeTo'" [(ngModel)]="gap.dates" required>
                <owl-date-time #dt2 firstDayOfWeek="1" pickerMode="dialog"></owl-date-time>
              </td>

              <td *ngIf="gaps.length>1">
                <button class='btn btn-outline-danger btn-sm' (click)='deleteRow(gap)' type='button'>
                  <i class='material-icons'>delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <hr class="my-3">

        <div class="other-option-button">
          <button class="btn btn-outline-success" (click)="addRow()" type="button">
            Add other option </button>
        </div>

        <div class="text-center">
          <small class="error" [style.display]="!gapsAddForm.valid ? 'inline' : 'none'">
            All fields are required.
          </small>
        </div>
      </div>

      <div class="col-sm-10 accept-button">
        <button type="submit" class="btn btn-outline-secondary" [disabled]="!gapsAddForm.valid" title="All fields must be filled">End</button>
      </div>
    </div>
  </div>
</form>
