<form class="form" [formGroup]="pollEditForm" (ngSubmit)="onSubmit()">
  <div class="jumbotron jumbotron-fluid rounded">
    <div class="container">
      <h1 class="display-4 title" i18n>
        Edit poll
      </h1>
      <div class="row editRow">
        <i class="material-icons lead-icon">keyboard_arrow_right</i>
        <p class="lead">
          <input type="text" class="form-control" i18n-placeholder placeholder="Title" formControlName="title" required>
          <small class="error" *ngIf="pollEditForm.controls.title.errors" i18n>
            This field is required.
          </small>
        </p>
      </div>

      <div class="
          row editRow">
        <i class="material-icons lead-icon">place</i>
        <p class="lead">
          <input type="text" class="form-control" i18n-placeholder placeholder="Place" formControlName="place">
        </p>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text link-icon">
            <i class="material-icons">
              link
            </i>
          </span>
        </div>

        <input type="text" class="form-control poll-link" value="http://{{host}}/polls/view/{{poll.url}}" disabled id="copyValue">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="copy()" i18n>
            COPY
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table text-center" id="gapsTable">
          <thead>
            <tr>
              <th scope="col" i18n>Start date & time</th>
              <th scope="col"> </th>
              <th scope="col" i18n>End date & time</th>
              <th scope="col"> </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let gap of gaps">
              <td>
                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" min="{{today}}" i18n-placeholder placeholder="Start Time" class="form-control floating-label text-center date"
                  formControlName="gap-{{gap.gap_id}}" [selectMode]="'rangeFrom'" [(ngModel)]="gap.dates">
                <owl-date-time #dt1 firstDayOfWeek="1" pickerMode="dialog"></owl-date-time>
              </td>

              <td>
                <i class="material-icons">
                  arrow_forward
                </i>
              </td>

              <td>
                <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" min="{{today}}" i18n-placeholder placeholder="End Time" class="form-control floating-label text-center date"
                  formControlName="gap-{{gap.gap_id}}" [selectMode]="'rangeTo'" [(ngModel)]="gap.dates">
                <owl-date-time #dt2 firstDayOfWeek="1" pickerMode="dialog"></owl-date-time>
              </td>

              <td>
                <button class='btn btn-outline-danger btn-sm' (click)='deleteRow(gap)' type='button'>
                  <i class='material-icons'>delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <hr class="my-3">

        <div class="other-option-button">
          <button class="btn btn-outline-success" (click)="addRow()" type="button" i18n>
            Add other option </button>
        </div>
        <div class="col-sm-10 accept-button">
          <button type="submit" class="btn btn-outline-secondary" [disabled]="pollEditForm.controls.title.errors" i18n-title title="Title field must be filled" i18n>End</button>
        </div>
      </div>
    </div>
  </div>
</form>
