<div class="btn-group login-lang" role="group">
  <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary btn-sm dropdown-toggle"
    data-toggle="dropdown" id="btnGroupDrop1" type="button" i18n>
    Language
  </button>
  <div aria-labelledby="btnGroupDrop1" class="dropdown-menu dropdown-menu-right login-lang">
    <a class="dropdown-item">Spanish</a>
    <a class="dropdown-item">English</a>
    <!-- <?=$this->Html->link(__("Spanish"), ['controller' => 'App', 'action' => 'changeLanguage', "es_ES"], ['class' => 'dropdown-item']);?>
    <?=$this->Html->link(__("English"), ['controller' => 'App', 'action' => 'changeLanguage', "en_GB"], ['class' => 'dropdown-item']);?> -->
  </div>
</div>
